<!DOCTYPE html>
<html>
<head>
    <title>MoodSense</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">
    <div class="text-center">
        <h1>😊 MoodSense</h1>
        <p class="text-muted">
            AI-powered mood analysis using facial expression
        </p>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card shadow-sm p-3">
                <h6 class="text-center">Live Camera</h6>
                <img src="{% url 'video_feed' %}" class="img-fluid rounded">
            </div>
        </div>
    </div>

    <form method="post" class="text-center mt-4">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg">
            Analyze My Mood
        </button>
    </form>

    {% if emotion %}
    <div class="card shadow mt-4">
        <div class="card-body text-center">
            <h4>Detected Mood: <span class="text-primary">{{ emotion|title }}</span></h4>
            <p class="fs-5 mt-3">“{{ quote }}”</p>

            <hr>

            {% if scores %}
<h6 class="text-muted">Emotion Confidence (%)</h6>
{% for key, value in scores.items %}
    <div class="text-start">
        {{ key|title }}
        <div class="progress mb-2">
            <div class="progress-bar" style="width: {{ value }}%">
                {{ value|floatformat:1 }}%
            </div>
        </div>
    </div>
{% endfor %}
{% endif %}

        </div>
    </div>
    {% endif %}
</div>

</body>
</html>
